<footer>
    <div class="container grid-column-4">
        <div class="instagram">
            <h3>Instagram</h3>
            <div>
                <div><a href="https://www.instagram.com/ustar1210/" target=”_blank”>일상 인스타그램 계정</a></div>
                <div><a href="https://www.instagram.com/usfork/" target=”_blank”>음악평론 인스타그램 계정</a></div>
            </div>
        </div>
        <div class="facebook">
            <h3>Facebook</h3>
            <div>
                <div><a href="https://www.facebook.com/profile.php?id=100003656653600" target=”_blank”>안 쓰는 페이스북 계정</a></div>
        
            </div>
        </div>
        <div class="link">
            <h3>목차</h3>
            <div>
                <div><a href="{% url 'index' %}">인덱스 가기</a></div>
                <div><a href="{% url 'introduction' %}">안유성의 tmi 보러가기</a></div>
            </div>
        </div>
        <div class="empty"></div>
    </div>
</footer>