*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color: black;
}
content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
div.content {
    padding: 24px;
}
.guestbook {
    padding: 24px;
    text-align: center;
    border-left: 2px solid #ced4da;
}
.guestbooks{
    padding: 12px;
}
.g {
    margin: 20px 0;
}
.new, .nonmessage{
    padding: 12px 0;
}