
section {
    text-align: center;
}
div.index_message {
    text-align:center;
}
div.index_message > *{
    margin:8px;
}
div.content > section > *{
    margin: 40px 0;
}
div.picBox{
    position:relative;
    width:30%;
    height:0;
    margin: 0 auto;
    }
.pd100{
    padding-top:36%;
}
div.pic{
    position:absolute;
    top:0;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
}
.pic > p, img{
    position: relative;
    width:100%;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card a {
    text-decoration: none;
    color: black;
}