{% extends 'base.html' %}
{% load static %}
{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="new">
        <h2><a href="{%url 'main:new'%}">글쓰기</a></h2>
    </div>

    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></h2>
            <h5>{{post.writer}}</h5>
            <h5>{{post.pub_date}}</h5>
            <br>
            <p>{{post.summary}}</p>
            <br>
        </div>
        {% endfor %}
    </div>    
    
    <div class="index_message">
        <h4>혹시라도 제가 궁금하신거라면 메뉴의 'tmi보러가기'로 이동해주세요.</h4>
    </div>
</section>
{% endblock %}