{% extends 'base.html' %}
{% load static %}
{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
<section>
     {% if user.username == 'an' %}
    <div class="new">
        <h2><a href="{%url 'main:new'%}">글 쓰기</a></h2>
    </div>
    {% else %}
    <h3>관리자만 글을 작성할 수 있습니다.</h3>
    {% endif %}
    <h2>Album Review</h2>
    <div class="posts">
        {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <a href="{% url 'main:detail' post.id %}">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.summary}}...</p>
                </div>
            </a>
          </div>
        {% endfor %}
    </div>    
</section>
{% endblock %}